/* all pages */

#top_button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: dimgray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#top_button:hover {
    background-color: rgb(80, 82, 158);
}

/* images, video page */

.img_grid, .video_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img_grid_column, .video_grid_column {
    width: 24.5%;
    height: auto;
}

.img_grid_column img, .video_grid_column img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .img_grid_column, .video_grid_column {
        width: 49%;
    }
}

@media screen and (max-width: 600px) {
    .img_grid_column, .video_grid_column {
        width: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.modal_image {
    margin: auto;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
}

.modal_video {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

.modal_video iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
}

/* table page */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

table {
    width: 100%;
}
