.navbar {
    display: flex;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
}

.navbar li {
    list-style-type: none;
    padding: 14px 16px;
    width: 100%;
    text-align: center;
}
